
body {
  background-color: #c30010;
  font-family: Arial, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 10px 0;
}

.column {
  float: left;
  width: 33.3%;
  padding: 0 10px;
  box-sizing: border-box;
}

.card {
  background-color:#c30010;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  color: whitesmoke;

}
.container {
  padding: 15px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

